<div class="container mt-5">
  <div class="row">
    <div class="col-lg-5">
      <h2>Order Summary</h2>
      <div class="details">
        <p><b>Name : </b>{{ order.name }}</p>
        <p><b>Address : </b>{{ order.address }}</p>
      </div>
      <div class="orders mt-4">
        <app-order-items-list [order]="order"></app-order-items-list>
        <div class="button mt-5">
          <button class="btn w-100">
            <app-paypal-button [order]="order"></app-paypal-button>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-5 ms-auto mt-5 mt-lg-0">
      <h2 class="ms-4">Shipping Address</h2>
      <div class="map mt-4">
        <app-map [order]="order" [readonly]="true"></app-map>
      </div>
    </div>
  </div>
</div>
