<div class="navbar">
  <div class="logo">
    <a routerLink="/">Food<span>App</span></a>
  </div>
  <div class="menu-div">
    <div class="menu">
      <p><a routerLink="/login">Login</a></p>
      <p>
        <a routerLink="/cart-page" class="cart"
          >Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span></a
        >
      </p>
    </div>
    <div class="profile-img mt-1">
      <a routerLink="/dashboard">Aakash</a>
      <div class="profile-div">
        <p><a>Profile</a></p>
        <p><a class="logout">Logout</a></p>
      </div>
    </div>
    <p class="d-lg-none toggle" (click)="toggle()">
      <i class="fa fa-bars" aria-hidden="true" *ngIf="istoggle"></i>
      <i class="fa fa-times" aria-hidden="true" *ngIf="!istoggle"></i>
    </p>
  </div>
</div>
<div class="menu-sm" *ngIf="isMenu">
  <p><a routerLink="/login">Login</a></p>
  <p>
    <a routerLink="/cart-page" class="cart"
      >Cart <span>{{ cartQuantity }}</span></a
    >
  </p>
</div>
